<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2>Log in</h2><br>

  <%= f.input :email, label: "メールアドレス", autofocus: true, autocomplete: "email", placeholder: "連絡の取れるメールアドレスを入力してください" %><br>

  <%= f.input :password, label: "パスワード", autocomplete: "new-password", placeholder: "6文字以上" %><br>

  <%= f.button :submit, "Log in", :class => "btn-primary" %><br>

  <%= render "users/shared/links" %>
<% end %>
