<div class = "event-form">
<%= form_with(model: @event, local: true) do |form| %>
    <% if @event.errors.any? %>
      <h2><%= @event.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  
    <%= form.label :name %>
    <%= form.text_field :name , placeholder: "30文字以内"%><br>
      
    <%= form.label :kind %>
    <%= form.select :kind, ['イベント','予約'] %><br>
  
    <%= form.label :start_on %>
    <%= form.datetime_field :start_on %><br>
  
    <%= form.label :price %>
    <%= form.text_field :price , placeholder: "半角数字で入力"%><br>
  
    <%= form.label :game %>
    <%= form.select :game, [' ','1','2','3','4','5','6','7','8','9','10'] %><br>
  
    <%= form.label :lane %>
    <%= form.text_field :lane , placeholder: "最大36レーン"%><br>
  
    <%= form.label :image %>
    <%= form.file_field :image %><br>
  
    <%= form.label :remarks %>
    <%= form.text_area :remarks, placeholder:"300文字以内" %><br>
      
    <%= form.submit %>
  <% end %>

</div>