<h1>イベント一覧画面</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>番号</th>
    <th>イベント名</th>
    <th>種類</th>
    <th>日付</th>
    <th>曜日</th>
    <th>開催時間</th>
    <th>料金</th>
    <th>レーン数</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= event.name %></td>
    <td><%= event.kind %></td>
    <td><%= event.start_on.strftime('%Y年%m月%d日') %></td>
    <td><%= event.start_on.strftime('%a') %></td>
    <td><%= event.start_on.strftime('%H時%M分') %></td>
    <td><%= event.price %></td>
    <td><%= event.lane %></td>

    <td><%= link_to '詳細', event_path(event.id) %></td>
    <td><%= link_to "編集", edit_event_path(event.id) %></td>
    <td><%= link_to '削除', event_path(event.id), method: :delete, data: { confirm: '削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新規イベント登録', new_event_path %>