<h1>イベント詳細画面</h1>

<p>イベント名: <%= @event.name %></p>
<p>種類: <%= @event.kind %></p>
<p>日付:<%= @event.start_on.strftime('%Y年%m月%d日') %></p>
<p>曜日:<%= @event.start_on.strftime('%a') %></p>
<p>開催時間:<%= @event.start_on.strftime('%H時%M分') %></p>
<p>料金: <%= @event.price %></p>
<p>ゲーム数: <%= @event.game %></p>
<p>レーン数: <%= @event.lane %></p>
<p>備考: <%= @event.remarks %></p>
<p>画像: <%= @event.image %></p>

<p>コメント一覧</p>

<div id="comment_area">
  <%= render partial: 'comments/index', locals:{comments:@comments, event:@event} %>
</div>

  <%= render partial: 'comments/form', locals:{comment:@comment, event:@event} %>

<%= link_to '編集', edit_event_path(@event)%>|
<%= link_to '戻る', events_path %>