<h1><%= @contact.name%>様</h1>

<h2>お問い合わせ頂き、ありがとうございます。</h2>
<h2>以下、お問い合わせ内容になります。改めてご確認ください。</h2>
<h2>弊社スタッフから、記載の電話番号、もしくはメールアドレス宛に一度ご連絡させていただきます。</h2>

<h3>reserved_name: <%= @contact.reserved_name %></h3>
<h3>name : <%= @contact.name %></h3>
<h3>phone_number : <%= @contact.phone_number %></h3>
<h3>email : <%= @contact.email %></h3>
<h3>reserved_on : <%= @contact.reserved_on %></h3>
<h3>game : <%= @contact.game %></h3>
<h3>utilization_at : <%= @contact.utilization_at %></h3>
<h3>number_of_people : <%= @contact.number_of_people %></h3>
<h3>lane : <%= @contact.lane %></h3>
<h3>bus : <%= @contact.bus %></h3>
<h3>meeting_room : <%= @contact.meeting_room %></h3>
<h3>remarks : <%= @contact.remarks %></h3>

<h2>以上となります。引き続きよろしくお願いいたします</h2>
