<h1><%= @contact.name %>様</h1>

<h2>お問い合わせ頂き、ありがとうございます。</h2>
<h2>以下、ご予約のお問い合わせ内容になります。改めてご確認ください。</h2>
<h2>弊社スタッフから、記載の電話番号、もしくはメールアドレス宛に一度ご連絡させていただきます。</h2>
<h2>＊本メールは予約確定のメールではございません。あらかじめご了承ください。</h2>

<h3>ご予約名（団体名）: <%= @contact.reserved_name %>様</h3>
<h3>お名前（代表者名): <%= @contact.name %>様</h3>
<h3>電話番号: <%= @contact.phone_number %></h3>
<h3>メールアドレス: <%= @contact.email %></h3>
<h3>ご予約日: <%= @contact.reserved_on.strftime('%Y年%m月%d日') %></h3>
<h3>スタート時間: <%= @contact.reserved_on.strftime('%H時%M分') %></h3>
<h3>ゲーム数 : <%= @contact.game %>ゲーム</h3>
<h3>ご利用時間 : <%= @contact.utilization_at %>分</h3>
<h3>人数 : <%= @contact.number_of_people %>人</h3>
<h3>レーン数 : <%= @contact.lane %>レーン</h3>
<h3>バスのご利用 : <%= @contact.bus ? '有り' : '無し' %></h3>
<h3>ミーティングルームのご利用 : <%= @contact.meeting_room ? '有り' : '無し' %></h3>
<h3>備考 : <%= @contact.remarks %></h3>

<h2>以上となります。引き続きよろしくお願いいたします</h2>

<h2>タチバナボウル（株）　担当スタッフより　</h2>
<h2>TEL 044-788-3115</h2>
