<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <h2>パスワード変更フォーム</h2>

  <%= f.input :password, label: "新しいパスワード", autofocus: true, autocomplete: "new-password", placeholder: "6文字以上" %><br>

  <%= f.input :password_confirmation, label: "確認用パスワード", autofocus: true, autocomplete: "off" %><br>

  <%= f.button :submit, "パスワードを変更します", :class => "btn-primary" %><br>

  <%= render "users/shared/links" %>
<% end %>
