<header class ="navbar navbar-fixed-top navbar-inverse">
  <%= link_to 'tcbn　イベント管理', root_path, id:"logo" %>
  <nav>
    <ul class ="nav navbar-nav navbar-expand-sm navbar-right">
      <li><%= link_to 'イベント日程', events_path, class:'btn btn-info' %></li>
        <% #ユーザーがログインしている場合 %>
        <% if user_signed_in?%>
          <li><%= link_to 'プロフィール', user_path(current_user.id), class:'btn btn-success' %></li>
            <% #ユーザーが管理者かどうかで遷移ページを分ける %>
            <% if current_user.try(:admin?) %>
              <li><%= link_to '新規イベント登録', new_event_path, class:'btn btn-primary' %></li>
              <li><%= link_to "管理ページ", "/admin", class:'btn btn-warning' %></li>
            <% else %>
              <li><%= link_to "ご予約のお問い合わせはこちら", "/contacts/new", class:'btn btn-primary' %></li>
            <% end %>
          <li><%= link_to "ログアウト！", destroy_user_session_path, method: :delete, class:'btn btn-danger' %></li>
        <% else %>
          <li><%= link_to "新規登録！", new_user_registration_path, class:'btn btn-success' %></li>
          <li><%= link_to "ログイン！", new_user_session_path, class:'btn btn-success' %></li>
        <% end %>
    </ul>
  </nav>
</header>