<!DOCTYPE html>
<html>
  <head>
    <title>TcbnEventManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "ご予約のお問い合わせはこちら", "/contacts/new"%>
      <%= link_to 'イベント一覧', events_path %>
      
      <% if user_signed_in?%>
        <%= link_to "管理画面", "/admin"%>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>

      <%= yield %>

  </body>
</html>
