<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h2>アカウント編集</h2>

  <%= f.input :name, label: "名前", placeholder: "20文字以内" %><br>

  <%= f.input :email, label: "メールアドレス", autofocus: true, autocomplete: "email", placeholder: "連絡の取れるメールアドレスを入力してください" %><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :current_password, label: "現在のパスワード", autocomplete: "current-password", placeholder: "6文字以上" %><br>

  <%= f.input :password, label: "新しいパスワード", autocomplete: "new-password", placeholder: "6文字以上" %><br>

  <%= f.input :password_confirmation, label: "確認用パスワード", autocomplete: "new-password", placeholder: "6文字以上" %><br>

  <%= f.button :submit, "Update", :class => "btn-primary" %><br>

  <%= link_to "Back", :back %>
<% end %>

