<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <h2>Sign up</h2>

  <%= f.input :name, label: "名前", placeholder: "20文字以内" %><br>

  <%= f.input :phone_number, label: "電話番号", placeholder: "-（ハイフン）なし、半角数字で入力してください" %><br>

  <%= f.input :email, label: "メールアドレス", autofocus: true, autocomplete: "email", placeholder: "連絡の取れるメールアドレスを入力してください" %><br>

  <%= f.input :password, label: "パスワード", autocomplete: "new-password", placeholder: "6文字以上" %><br>

  <%= f.input :password_confirmation, label: "確認用パスワード", autocomplete: "new-password" %><br>

  <%= f.button :submit, "Sign Up", :class => "btn-primary" %><br>

  <%= render "users/shared/links" %>

<% end %>
